<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="tue.student.ed.dao.UserMapper">
    <resultMap id="UserMap" type="tue.student.ed.module.User">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="select" parameterType="String" resultMap="UserMap">
        SELECT *
        FROM user
        WHERE 1 = 1
        <if test="userName != null">AND user_name = #{userName}</if>
    </select>

    <insert id="save" parameterType="tue.student.ed.module.User">
        INSERT INTO user(user_name)
        VALUES (#{userName})
    </insert>

    <delete id="delete" parameterType="INTEGER">
        DELETE
        FROM user
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="tue.student.ed.module.User">
        UPDATE user
        SET user_name = #{userName}
        WHERE id = #{id}
    </update>
</mapper>